block config
  include ../config/variables

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Expires" content="0")
    meta(http-equiv="Last-Modified" content="0")
    meta(http-equiv="Cache-Control" content="no-cache, mustrevalidate")
    meta(http-equiv="Pragma" content="no-cache")
    title Aire Acondicionado | AADOCCSA
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="#{descripcion}")
    meta(name="author", content="#{autor}")
    link(rel="icon", href="img/favicon.png")
    //- link(href="https://file.myfontastic.com/h42XLQ3U8kEEezMFceC79Q/icons.css" rel="stylesheet")
    link(rel="stylesheet", href="css/ed-ui.css")
    link(rel="stylesheet" href="nivo/css/themes/default/default.css"
    type="text/css" media="screen")
    link(rel="stylesheet" href="nivo/css/nivo-slider.css" type="text/css"
            media="screen")
    link(rel="stylesheet" href="nivo/css/style.css" type="text/css" media="screen")
    link(rel="stylesheet" href="color-box/css/colorbox.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/styles.css")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65562476-1', 'auto');
      ga('send', 'pageview');

body.page-gdl
    .header__top
      .pcs-container
        .pcs-item
            p.city-phone.gdl Colon 850, Colonia Moderna, Guadalajara, Jalisco
            p.city-phone.leon Boulevard Juan José torres Landa 5306 local 5 Col. Jardines de Jerez
            p.city-phone.qrt Atta micro parque industrial, Carretera estatal 500 A chichimequillas Ejido tierra blanca
        .pcs-item.tar
            p.city-phone.gdl#gdl (33) 38 55 81 21 / (33) 36 13 37 18 / (33) 36 19 31 88 / (33) 36 58 23 38
            p.city-phone.qrt#qrt (442) 980 07 88
            p.city-phone.leon#leon (477) 167 50 08 / (477) 167 50 09
    header.header.header__fondo
      .ed-container
        .ed-item.tablet-50.top-bar
            h1 Aire Acondicionado de Occidente
        .ed-item.tablet-50.top-bar.pright
          include ../blocks/logo

        .ed-item
          nav
            .icon-menu.hasta-web.main-center#nav
            ul.ed-menu.web-horizontal.nav-bar#menu
              include ../blocks/menu
    #banner.ed-container
      .ed-item.banner
        block banner
    section.ed-container.slogan-container
      include ../blocks/slogan
    #main.ed-container
      block main
    aside.aside
      include ../blocks/aside
    footer.footer
      include ../blocks/footer
    script(src="js/jquery.js")
    script(src = "color-box/js/jquery.colorbox.js")
    script(src="color-box/js/color-box.js")
    //- script(src="js/google.js")
    script(src="nivo/js/jquery.nivo.slider.js")
    script(src="js/scripts.js")
    script(src="js/city.js")
    script(src="js/scripts-es6.js")
    block scripts
